@model IEnumerable<Zero_Hunger.DB.Employee>

<p>
    @Html.ActionLink("Create New", "addEmplovee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEmplovee", new { id=item.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeID }) |
            @Html.ActionLink("Delete", "DeleteEmplovee", new { id=item.EmployeeID })
        </td>
    </tr>
}

</table>
